# Logs
logs
*.log
npm-debug.log*

# Dependency directory
**/node_modules/**
_node_modules
.pnp.cjs

# Coverage directory used by tools like istanbul
coverage

.tmp
_docpress

temp
tmp
debug
dist

tsconfig.tsbuildinfo

# Visual Studio Code configs
.vscode/

# JetBrains IDEs
.idea/

# Package manager lock
package-lock.json
yarn.lock

__package_previews__
.store

privatePackages/store

## Verdaccio storage
storage


RELEASE.md

.jest-cache
.turbo

